.shadow-rem {
    -webkit-box-shadow: 0px 2px 11px -3px rgba(40, 40, 40, 0.38) !important;
    -moz-box-shadow: 0px 2px 11px -3px rgba(40, 40, 40, 0.38) !important;
    box-shadow: 0px 2px 11px -3px rgba(40, 40, 40, 0.38) !important;
}
.shadow-rem:focus {
    -webkit-box-shadow: 0px 2px 11px -3px rgba(40, 40, 40, 0.38) !important;
    -moz-box-shadow: 0px 2px 11px -3px rgba(40, 40, 40, 0.38) !important;
    box-shadow: 0px 2px 11px -3px rgba(40, 40, 40, 0.38) !important;
}
.gray {
    color: gray;
}
.gray:hover {
    color: rgb(75, 73, 73);
}
.rounded-4 {
    border-radius: 0.4rem;
}
.rounded-5 {
    border-radius: 0.5rem;
}
.rounded-6 {
    border-radius: 0.6rem;
}
.rounded-7 {
    border-radius: 0.7rem;
}
.rounded-8 {
    border-radius: 0.8rem;
}
.rounded-9 {
    border-radius: 0.9rem;
}
.rounded-rem {
    border-radius: 1rem;
}
.rounded-l-rem {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.rounded-r-rem {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.nav-light-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    font-size: 15px;
    white-space: nowrap;
}
.nav-light-button:focus {
    box-shadow: none;
}

:root {
    --nav-width: 68px;
    --first-color: #ffffff;
    --first-color-light: rgb(85, 85, 85);
    /* --first-color-light: #afa5d9; */
    --white-color: #282828;
    --normal-font-size: 1rem;
}

*,
::before,
::after {
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    background-color: var(--ex-gray-50);
}

::-webkit-scrollbar-thumb {
    background-color: var(--ex-gray-200);
    border-radius: 100px;
}
body {
    transition: 0.1s;
}
a {
    text-decoration: none;
}
.offcanvas-start,
.offcanvas-end {
    width: 350px !important;
    transition: 0.2s;
}
.navbar {
    position: sticky;
    top: 1.5rem;
    height: 75px;
    border: none;
    transition: 0.1s;
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.075) !important;
    z-index: 1040;
}

.sidebar {
    position: fixed;
    top: 1.5rem;
    border-top-right-radius: 1rem;
    left: -30%;
    width: 68px;
    height: 100vh;
    background-color: var(--first-color);
    transition: 0.1s;
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.075) !important;
    z-index: 1040;
}
#sidebar-toggle.rotate {
    transform: rotateY(180deg);
    transition: 0.3s;
}
.logo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-height: 60px;
    border-bottom: 1px solid rgba(204, 204, 204, 0.2);
}
.nav_logo {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    padding: 0.5rem 0 0.5rem 0.9rem;
}
.nav_logo {
    margin-bottom: 2rem;
}
.nav_logo-icon,
.nav_logo-name {
    font-size: 1.25rem;
    height: 35px;
    color: var(--white-color);
}
.divider {
    border-bottom: 1px solid #9797972f !important;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.nav_active {
    border-left: 1px solid #00ccff;
    background-color: #00ccff10;
}
.nav_active i,
.nav_active span,
.nav_active a {
    color: #282828 !important;
}
.nav_active .badge {
    color: #fdfdfd !important;
}
.nav_logo-name {
    padding-left: 15px;
}
.nav_arrow,
.nav_badge,
.nav_name,
.nav_logo-name {
    display: none;
    transition: 0.5s;
    transition-duration: 0.3s;
}

.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 0.5rem;
    position: relative;
    align-items: center;
    color: var(--first-color-light);
    transition: 0.2s;
    padding: 0rem 0 0rem 1.3rem;
}

.sidebar li .submenu {
    list-style: none;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.5);
}
.sidebar li .submenu .nav_link {
    padding: 0 0 0 1.5rem;
}
.nav_name {
    font: size 14px;
    white-space: nowrap;
}
.nav_icon {
    font-size: 16px;
}
.nav_icon {
    padding-top: 10px;
    padding-bottom: 10px;
}
.submenu1 .nav_icon {
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 3px;
}
.submenu2 .nav_icon {
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.nav_link:hover {
    color: var(--white-color);
}
.nav_icon {
    font-size: 1.25rem;
}

.show-side {
    left: 0;
}

.body-pd {
    padding-left: calc(var(--nav-width) + 1rem);
}

@media screen and (min-width: 768px) {
    body {
        padding: 0 0 0 4rem;
    }

    .sidebar li .submenu .nav_link,
    .sidebar li .submenu2 .nav_link {
        padding: 0rem 0 0 1.5rem;
        margin-bottom: 10px;
        transition: 0.2s;
    }
    .sidebar.show-side li .submenu .nav_link {
        padding: 0 0 0 2rem;
        display: flex;
    }
    .sidebar.show-side li .submenu2 .nav_link {
        padding: 0 0 0 2.5rem;
    }
    .sidebar.show-side .nav_link {
        padding: 0rem 0 0rem 0.8rem;
    }
    .sidebar.show-side .nav_arrow,
    .sidebar.show-side .nav_badge,
    .sidebar.show-side .nav_name,
    .sidebar.show-side .nav_logo-name {
        display: flex;
        transition: 0.2s;
        transition-duration: 0.3s;
    }
    .nav_link:not(.collapsed) .nav_arrow {
        transform: rotate(90deg);
        transition: 0.3s;
    }
    .nav {
        min-width: 65px;
        transition: 0.2s;
    }
    .sidebar {
        left: 0;
        padding: 1rem 0rem 0 0;
    }
    .show-side {
        width: calc(68px + 156px);
    }
    .body-pd {
        padding-left: calc(68px + 150px);
    }
    .show-side .nav {
        min-width: calc(65px + 156px);
        transition: 0.2s;
    }
}

.sidebar_menu {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.sidebar_menu::-webkit-scrollbar {
    width: 5px;
}

.sidebar_menu::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255) !important;
    border-radius: 100px;
}

.sidebar_menu::-webkit-scrollbar-thumb {
    background-color: #f0f0f0 !important;
    border-radius: 100px;
}
.message-card{
    background-color: var(--ex-pink-200);
    color: var(--ex-pink-500);
    transition:0.2s;
}
.message-card:hover{
    background-color: var(--ex-pink-500);
    color: var(--ex-white);
}
.message-type{
    color: var(--ex-pink-400);
}
.message-card:hover .message-type{
    color: var(--ex-white);
}
.message-content {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
